@use '../helpers/' as *;


.footer{

    &__inner{
        font-size: small;
    }
    &__body{
        padding-block: fluid(80, 40);
    }
    &__menu{
        display: flex;
        justify-content: space-around;
        column-gap: fluid(80, 20);

        @include mobile{
            flex-direction: column;
            row-gap: rem(40);
            text-align: center;
        }

        &-list{
            display: flex;
            flex-direction: column;
            row-gap: fluid(18, 8);
        }
    }

    &__extra{
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: 1rem;
        padding-block: rem(40);

        @include laptop{
            padding-block: rem(24);
        }

        @include mobile{
            flex-direction: column;
            row-gap: rem(40);
        }

        &-menu {
            &-list{
                display: flex;
            }
        }
    }

    &__socials{
        @include mobile {
            order: -1;
        }
    }

}