@use '../helpers/' as *;

.hero{
    &__main{
         margin: 2rem auto;
    }

    &__title{
        font-weight: 600;
        font-size: 42px;
        padding: 0 25px 70px 25px;
    }

    &__subtitle{
        padding: 25px 0 45px 30px;
    }
}
.title-name{
            color: rgba(4, 240, 55, 0.699);
            font-style: italic;
        }

.text {
    padding-bottom: 1rem;
    text-indent: 25px;
}
.metrics{
    &__key{
        margin: 2vw 1vw;
        color: #07f873;
    }

    &__value{
        padding-bottom: 2rem;
    }
}




// table {
//   width: 100%;
//   border-collapse: collapse;
// }

// th, td {
//   padding: 20px;
//   border: 1px solid #05d16b;
//   text-align: left;
// }


// tr:hover {
//             background-color: #7807e2;
//             transition: height 0.3s ease-in-out; /* Плавный переход */
//             height: 60px; /* Увеличенная высота строки */
//         }

// tr {
//             height: 40px; /* Стандартная высота строки */
//             transition: height 0.3s ease-in-out; /* Чтобы обеспечить плавный переход обратно */
//         }



th, td {
  padding: 8px;
  text-align: left;
}

tr {
    transition: transform 0.3s, background-color 0.3s;
    border-radius: 5px;
    border: 2px solid #07f873;
    cursor: pointer;
    display: block;
    margin: 10px;
  }
tbody tr:hover {
    transform: scaleY(1.1);
    background-color: #5179a7;
  }



// tr {
//   transition: transform #{$transition-duration};
// }