@use '../helpers/' as *;


.table-bg {
    background-color: rgba(88, 6, 241, 0.171);
    border-radius: 20px;
    padding: 50px;
    border: 2px solid rgba(4, 240, 55, 0.699);

    @include tablet{
        padding: 25px;
    }
}

.table-title {
    display: flex;
    justify-content: space-between;
    margin: 3rem 3rem;
    padding-right: 2rem;

    @include tablet {
        flex-direction: column;
        align-items: center;
        margin: 1rem 1rem;
        padding-right: 1rem;
    }
}


.top-name {
    color: rgba(4, 240, 55, 0.699);
}

.table-name {
    padding-left: 3rem;
    font-size: 30px;
    font-weight: 600;

    @include laptop{
        padding: 1rem 0 1rem 0;
        font-size: 25px;
        font-weight: 500;
    }

    @include tablet{
        text-align: center;
        font-size: 30px;
        font-weight: 600;
    }

    @include mobile{
        padding: 1rem 0 1rem 0;
        font-size: 20px;
        font-weight: 500;
    }
}

.table-search {
    cursor: pointer;
    padding: 9px 200px 0 13px;
    border: 2px solid rgba(29, 123, 167, 0.78);
    border-radius: 20px;
    font-size: 14px;
    color: rgba(189, 177, 238, 0.445);
    margin-top: 12px;
    height: 40px;

    @include tablet{
        padding: 9px 200px 7px 13px;
    }

    @include mobile{
        padding: 9px 140px 7px 13px;
    }

}

.table-search:hover {
    color: #07f873;
    border: 2px solid rgba(208, 231, 241, 0.78);
}

.table-header {
    display: flex;
    justify-content: space-between;
    border: 3px solid rgba(17, 148, 209, 0.78);
    padding: 10px 0;
    background-color: rgba(137, 220, 231, 0.342);
    font-weight: 600;
    border-radius: 5px;

    @include laptop{
        // padding: 10px 20px;
        font-size: 14px;
    }

    @include tablet{
        margin: 5px 5px;
        // padding: 5px 5px;
    }

    @include mobile{
        display: none;
    }
}

.table-person {
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(17, 148, 209, 0.78);
    background-color: rgba(116, 180, 223, 0.281);
    padding: 10px 30px;
    font-size: 13px;
    margin: 10px 70px;
    border-radius: 5px;

    @include laptop{
        padding: 10px 30px;
        margin: 10px 20px;
    }

    @include tablet{
        font-size: 12px;
        padding: 10px 5px;
        margin: 10px 10px;
    }

    @include tablet-above{
        font-size: 12px;
        padding: 5px 5px;
        margin: 5px 10px;
    }

    @include mobile{
        flex-direction: column;
        align-items: center;
    }
}

.table-person:hover {
    border: 2px solid rgba(191, 207, 214, 0.78);
}

.table-header-name,
.table-header-progress,
.table-person-name,
.table-person-progress {
    width: 270px;
    text-align: center;
    // padding-right: 15px;

    @include laptop{
        width: 180px;
    }

    @include tablet{
         width: 180px;
    }

}

.table-person-name,
.table-person-progress{
         @include mobile{   
            font-size: 18px;
            width: 240px;
            text-align: center;
            padding: 15px;
        }
    }

.table-person-rating,
.table-header-role,
.table-person-role,
.table-header-rating {
    width: 70px;
    text-align: center;

    @include tablet{
        width: 80px;
        text-align: center;
    }

}

.table-person-rating,
.table-person-role {
        @include mobile{
            padding-top: 20px;
            width: 70px;
            text-align: center;

        }    
}
